# --------------------------------------------------------------------------------------- #
#                                                                                         #
# Default tag                                                                             #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
[DEFAULT]

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# USER={username}                                                                         #
#                                                                                         #
# The ITRI username for logining SSO                                                      #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
USER=username

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# PASS={password}                                                                         #
#                                                                                         #
# The ITRI password for logining SSO                                                      #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
PASS=password

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# DEPTH={number}                                                                          #
#                                                                                         #
# To define the depth to search                                                           #
#     0: only for testing authentication page and TARGET_URL available or not             #
#     1: Testing availability the TARGET_URL and the url it contained                     #
#     2~: And so on                                                                       #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
DEPTH=1
PRINT_DEPTH=0

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# TIMEOUT={number}                                                                        #
#                                                                                         #
# The time limitation of each request                                                     #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
TIMEOUT=5

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# MULTITHREAD=YES|NO                                                                      #
#                                                                                         #
# To enable/disable multithread for running this script                                   #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
MULTITHREAD=YES

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# THRESHOLD={number}                                                                      #
#                                                                                         #
# To set the threshold of concurrent request number                                       #
# The higher this value is the fast the script runs, but it may result in web server's    #
# heavy loading, and the possibility to be regarded as DoS attack                         #
# Maximum value of this can not be greater than 1000                                      #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
THRESHOLD=1

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# AUTH=YES|NO                                                                             #
#                                                                                         #
# To enable/disable login authentication for ITRI SSO                                     #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
AUTH=YES

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# TARGET_URL={url}                                                                        #
#                                                                                         #
# To define the started url of the program                                                #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
TARGET_URL=https://itriweb.itri.org.tw

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# DOMAIN_URL={url}                                                                        #
#                                                                                         #
# To define the target domain or url that you want to test                                #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
DOMAIN_URL=https://itriweb.itri.org.tw

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# FILTER={one,two,three...}                                                               #
#                                                                                         #
# Describe the status code that does not want to output to output files                   #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
FILTER=200,403

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# BROKEN_LINK={one,two,three...}                                                          #
#                                                                                         #
# Describe the status code that was regarded as broken link			                      #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
BROKEN_LINK=400,401,403,404,500,503,-3,-5

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# FORMAT={one,two,three...}                                                               #
#                                                                                         #
# Define the output file format, currently XML, CSV, STDOUT available                     #
# JSON is not implemented yet                                                             #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
FORMAT=CSV,XML

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# SORT=STATUS_CODE|URL                                                                    #
#                                                                                         #
# The data sorting index                                                                  #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
SORT=STATUS_CODE

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# FOLLOW_REDIRECTION=YES|NO                                                               #
#                                                                                         #
# Using webdriver to execute the webpage                                                  #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
FOLLOW_REDIRECTION=NO

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# DRIVER_LOCATION={path to phantomjs}                                                     #
#                                                                                         #
# Specify the location of webdriver														  #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
DRIVER_LOCATION=/usr/local/bin/phantomjs

# --------------------------------------------------------------------------------------- #
#                                                                                         #
# VERIFY_CERTIFICATE=YES|NO                                                               #
#                                                                                         #
# verify sites' certificate                                                               #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
VERIFY_CERTIFICATE=YES



# --------------------------------------------------------------------------------------- #
#                                                                                         #
# Commandline tag                                                                         #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
[COMMANDLINE]
USER=username
PASS=password
DEPTH=1
FILTER=0
FORMAT=CSV


[APISERVER]
USER=username
PASS=password
AUTH=NO
FOLLOW_REDIRECTION=YES
VERIFY_CERTIFICATE=NO
DEPTH=0
TIMEOUT=20
PRINT_DEPTH=0
THRESHOLD=3
FILTER=200
FORMAT=CSV,STDOUT

[WEBCHECK]
USER=username
PASS=password
DEPTH=0
TIMEOUT=20
FILTER=0
FORMAT=CSV,STDOUT
TARGET_URL=https://webcheck.itri.org.tw/webstatus.aspx
DOMAIN_URL=https://webcheck.itri.org.tw/webstatus.aspx
