# --------------------------------------------------------------------------------------- #
#                                                                                         #
# Commandline tag                                                                         #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
[COMMANDLINE]
DEBUG_MODE=NO
# The user is set for web login
USER=username
PASS=password
# Set YES to allow authentication
AUTH=NO
DEPTH=0
FILTER=0
MAX_RETRIES=0
FORMAT=STDOUT


[APISERVER]
# The user is set for report sending
USER=username
PASS=password
AUTH=NO
FOLLOW_REDIRECTION=YES
VERIFY_CERTIFICATE=NO
SSLLAB_VERIFY_CERTIFICATE=NO
DEPTH=0
TIMEOUT=20
MAX_RETRIES=5
PRINT_DEPTH=0
THRESHOLD=3
FILTER=200
FORMAT=CSV,STDOUT

[APISERVER-WEB-BACKEND]
# The user is set for report sending
USER=username
PASS=password
AUTH=NO
FOLLOW_REDIRECTION=NO
VERIFY_CERTIFICATE=NO
SSLLAB_VERIFY_CERTIFICATE=NO
DEPTH=0
TIMEOUT=20
MAX_RETRIES=1
PRINT_DEPTH=0,1,2,3,4,5
THRESHOLD=3
# Do not show on report if status is listed below
FILTER=200,-7
FORMAT=CSV,STDOUT
# Let the system always sends mail, regard 200 as broken link
BROKEN_LINK=200,400,401,403,404,500,503,-3,-5
TYPE_SETTING=1,2,3,4,8,12,13,14,15,16

[WEBCHECK]
USER=username
PASS=password
AUTH=YES
VERIFY_CERTIFICATE=NO
SSLLAB_VERIFY_CERTIFICATE=NO
DEPTH=0
TIMEOUT=20
FILTER=0
FORMAT=CSV,STDOUT
TARGET_URL=https://webcheck.itri.org.tw/webstatus.aspx
DOMAIN_URL=https://webcheck.itri.org.tw/webstatus.aspx
