# --------------------------------------------------------------------------------------- #
#                                                                                         #
# Commandline tag                                                                         #
#                                                                                         #
# --------------------------------------------------------------------------------------- #
[COMMANDLINE]
debug_mode=N
# The user is set for web login
sso_id=username
sso_passwd=password
# Set 1 to allow authentication
is_intra=N
search_level=0
max_retries=0
output_format=STDOUT


[APISERVER]
# The user is set for report sending
sso_id=username
sso_passwd=password
is_intra=N
follow_redirection=Y
verify_certificate=N
ssllab_verify_certificate=N
search_level=0
timeout=20
max_retries=5
threshold=3
output_format=CSV,STDOUT,DB

[APISERVER-WEB-BACKEND]
# The user is set for report sending
sso_id=username
sso_passwd=password
is_intra=N
follow_redirection=N
verify_certificate=N
ssllab_verify_certificate=N
search_level=0
timeout=20
max_retries=0
threshold=3
# Do not show on report if status is listed below
output_format=CSV,STDOUT
# Let the system always sends mail, regard 200 as broken link
search_status=200,400,401,403,404,500,503,-3,-5
type_setting=1,2,3,4,8,9,10,11,12,13

[WEBCHECK]
sso_id=username
sso_passwd=password
is_intra=1
verify_certificate=N
ssllab_verify_certificate=N
search_level=0
timeout=20
output_format=CSV,STDOUT
target_name=WebCheck
target_url=https://webcheck.itri.org.tw/webstatus.aspx
search_domain=https://webcheck.itri.org.tw/webstatus.aspx
